---
layout: default
---


<div class="home-background">
  <div class="home-layout">
    <div class="container home-container">

      <!-- Title + Intro Categories -->
      <div class="home-header">
        <div class="home-title">{{ site.title | default: site.name }}</div>

        <div class="home-intro">
          tvořím <a href="{{ 'poezie' | relative_url }}">poezii</a><br>
          píšu <a href="{{ 'oliterature' | relative_url }}">o literatuře</a> a
          <a href="{{ 'ohudbe' | relative_url }}">o hudbě</a><br>
          sdílím občasná <a href="{{ 'oumeni' | relative_url }}">zamyšlení</a><br>
          a občas něco <a href="{{ 'foto' | relative_url }}">vyfotím</a>
        </div>
      </div>


        <!-- Latest Posts List -->
      <div class="home-posts">
        <h3>nejnovější příspěvky</h3>
        <ul>
          {% for post in site.posts limit:5 %}
            {% assign cat = post.categories[0] %}
            <li class="post-item">

              <!-- Post Title with dots -->
              <a href="{{ post.url | relative_url }}" class="post-title">
                {{ post.title }}
              </a>
              <span class="dots"></span>

              <!-- Category Link -->
              {% if cat %}
                <a href="{{ '/' | append: cat | downcase | append: '/' | relative_url }}" class="post-category">
                  {{  '/ ' | append: cat  }}
                </a>
              {% endif %}

            </li>
          {% endfor %}
        </ul>
      </div>
   

    </div>
  </div>
</div>
