---
---

$background: #fff;
$text: #000;
$accent: #706C61;
$highlight: #540B0E;

body {
  font-family: 'Inter', sans-serif;
  background: $background;
  color: $text;
  margin: 0;
  padding: 0;
}


/* HEADER */
.site-header {
  /*border-bottom: 1px solid $accent;  */
  padding: 1rem 2rem;
  background: $background;

  .header-inner {
    display: flex;
    justify-content: space-between;  /* title left, nav right */
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
  }
}

/* SITE TITLE */
.site-title a {
  color: $accent;
  /*font-family: 'Merriweather', serif;*/
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  letter-spacing: 0.5px;
  text-transform: lowercase;

  &:hover {
    color: $accent;
  }
}

.nav {
  display: flex;
  gap: 1.5rem;

  a {
    color: $accent;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      color: $highlight;
    }
  }
}


/* CONTENT */
.content {
  max-width: 700px;
  margin: 3rem auto;
  padding: 0 1rem;
}

/* POSTS */
.post-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-preview h2 a {
  color: $accent;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.date {
  font-size: 0.9rem;
  color: $accent;
}

.excerpt {
  color: $text;
  /*font-family: 'Merriweather', serif;*/
}

/* FOOTER */
.site-footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
  border-top: 1px solid $accent;
}

.footer-name {
  color: $accent;
  font-weight: 600;
}
