<header class="site-header">
  <div class="header-inner">
    <div class="site-title">
      <a href="{{ '/' | relative_url }}">
        {{ site.title | default: site.name }}
      </a>
    </div>
    <div class="header-images">
        <img src="/images/profile2.JPG" alt="icon1">
        <img src="/images/profile2.JPG" alt="icon2">
        <img src="/images/profile2.JPG" alt="icon3">
      </div>

    <nav class="nav">
      <a href="{{ '/oknihach' | relative_url }}">/ o knihách</a>
      <a href="{{ '/ohudbe' | relative_url }}">/ o hudbě</a>
      <a href="{{ '/foto' | relative_url }}">/ o prostoru</a>
      <a href="{{ '/poezie' | relative_url }}">/ poezie</a>
    </nav>
  </div>
</header>

